<html>
  <body>
    <div style="float:left">
      <h1>DHIS2 Interpretations Digest</h1>
    </div>

    <div style="float:right">
      <img width "100" src="http://dev.eyeseetea.com/dhis2-newsletter/psi-logo.png" />
      <img width="159" src="http://dev.eyeseetea.com/dhis2-newsletter/dhis2-logo.png" />
    </div>
  </body>
</html>
